body{
  margin: 0px;
  padding: 0px;
  background: #202020;
}

.img-logo{
    display: block;
    margin: 0 auto;
    margin-top: 10em;
    margin-bottom: 3em;

}

.row{
    width: 400px;

}

h1 {
  color: #ebebeb;
  font-size: 2.7em;
  font-family: "Roboto Thin", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.forms{
    width: 800px;
    display: block;
    margin: 0 auto;
}

.btn{
    display: block;
    margin: 0 auto;
}

.last{
    margin-bottom: 25px;
}

.input-field{
    color: #ebebeb;
    margin-bottom: 5px;
}
/* label color */
.input-field label {
 color: #9e9e9e   ;
}
/* label focus color */
.input-field input[type=text]:focus  + label {
 color: #eeeeee  ;
}
.input-field input[type=email]:focus  + label {
 color: #eeeeee  ;
}
.input-field input[type=password]:focus  + label {
 color: #eeeeee  ;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #eeeeee;
 box-shadow: 0 1px 0 0 #eeeeee;
}
.input-field input[type=email]:focus {
 border-bottom: 1px solid #eeeeee;
 box-shadow: 0 1px 0 0 #eeeeee;
}
.input-field input[type=password]:focus {
 border-bottom: 1px solid #eeeeee;
 box-shadow: 0 1px 0 0 #eeeeee;
}
/* valid color */
.input-field input.valid{
 color: #424242;
 border-bottom: 1px solid #008000;
 box-shadow: 0 1px 0 0 #008000;
}
/* invalid color */
.input-field input.invalid {
 border-bottom: 1px solid #911616;
 box-shadow: 0 1px 0 0 #911616;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}
